doctype
html
	head
		title DataBase Monitor
		link(rel='stylesheet', href='../stylesheets/style.css')
		script setTimeout(function(){location.reload();},10000);
		script(type="text/javascript",src="https://www.gstatic.com/charts/loader.js")
		script(type="text/javascript") google.charts.load('current', {'packages':['corechart']});google.charts.setOnLoadCallback(drawChart);function drawChart() {var data = google.visualization.arrayToDataTable([#{lista}]);var options = {title: #{nome},vAxis: {title: #{label}},curveType: 'function',legend: { position: 'bottom' }};var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));chart.draw(data, options);}
	body
		block header