doctype
html
	head
		title DataBase Monitor
		link(rel='stylesheet', href='../stylesheets/style.css')
		script setTimeout(function(){location.reload();},10000);
		meta(charset='UTF-8')
	body
		block header